.site { 
	/* Background pattern from Toptal Subtle Patterns */
 	background-image: url("../img/background/hypnotize.png");
}
.connexion {
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("../img/background/footer_lodyas.png");
}
.no_access {
	/* Background pattern from Toptal Subtle Patterns */
 	background-image: url("../img/background/brickwall.png");
}
.nav-text-title {
	font-size: 20px;
	font-weight: bold;
}
.nav-text {
	font-size: 18px;
}
.login_container .login_panel {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.login_title {
	font-size: 50px;
	color: #ffffff;
}
.login_body {
	padding: 15px;
	font-size: 16px;
	color: #eeeeee;
	font-weight: lighter;
}
.login_title_small {
	font-size: 25px;
	color: #ffffff;
}
.no_access_title {
	font-size: 50px;
	color: #000000;
}
.no_access_body {
	padding: 15px;
	font-size: 16px;
	color: #000000;
	font-weight: lighter;
}
.toshow {
	height: 200px;
    width: 200px;
    background: #E88C37;
    float: left;
    display: none;
    font-size: xx-large;
}